<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<!-- 공지사항 팝업 sql -->
	<select id="selectAll" resultType="com.gl.master.model.notice.NoticeVo">
		select * from notice
	</select>
	<select id="selectOne" parameterType="String"
		resultType="com.gl.master.model.notice.NoticeVo">
		select * from notice where notid=#{value}
	</select>
	<insert id="insertOne" parameterType="com.gl.master.model.notice.NoticeVo">
		insert into notice
		values(#{notid},#{notitle},#{notcontent},null,sysdate)
	</insert>
	<update id="updateOne" parameterType="com.gl.master.model.notice.NoticeVo">
		update notice set notitle=#{notitle}, notcontent=#{notcontent, jdbcType=VARCHAR},
		notfile=#{notfile, jdbcType=VARCHAR} where notid=#{notid}
	</update>
	<delete id="deleteOne" parameterType="String">
		delete from notice where
		notid = #{value}
	</delete>
</mapper>
