<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 상품 sql -->
	<select id="selectAll" resultType="com.gl.master.model.product.ProductVo">
		SELECT * FROM product INNER
		JOIN CAT ON product.CAT = CAT.code ORDER BY
		PRIO
	</select>
	<select id="selectOne" parameterType="String"
		resultType="com.gl.master.model.product.ProductVo">
		SELECT * FROM PRODUCT WHERE PROID=#{value}
	</select>
	<insert id="insertOne" parameterType="com.gl.master.model.product.ProductVo">
		INSERT INTO PRODUCT VALUES
		(#{proid}, #{proname}, #{cat},
		#{loc}, #{price},
		#{minp}, #{maxp},
		#{peris}, #{exp},
		#{img}, #{thumb},
		#{discount}, #{point}, #{prio},
		#{event})
	</insert>
	<update id="updateOne" parameterType="com.gl.master.model.product.ProductVo">
		UPDATE product SET
		proname=#{proname}, cat =#{cat}, loc =#{loc}, price
		=#{price}, minp
		=#{minp}, maxp =#{maxp}, peris =#{peris}, exp =#{exp},img
		=#{img},
		thumb=#{thumb}, discount
		=#{discount}, point =#{point}, prio =#{prio},
		event =#{event} WHERE
		proid=#{proid}
	</update>
	<delete id="deleteOne" parameterType="String">
		DELETE FROM PRODUCT WHERE
		PROID=#{value}
	</delete>
	<delete id="deleteAll" parameterType="String">
		DELETE FROM PRODETAIL WHERE
		PROID=#{value}
	</delete>
	<!-- 상품관련 -->
	<select id="selectDetail" parameterType="String" resultType="com.gl.master.model.product.ProDetailVo">
	select * from prodetail where proid=#{value}
	</select>
	<update id="updateDetail" parameterType="String">
	update prodetail set proid=#{value} where proid='add'
	</update>
	<insert id="insertDetail" parameterType="com.gl.master.model.product.ProDetailVo">
		insert into prodetail values(#{proid},#{startday}, #{trans})
	</insert>
	<delete id="deleteOneDetail" parameterType="com.gl.master.model.product.ProDetailVo">
		DELETE FROM prodetail WHERE
		proid=#{proid} and startday=#{startday} and trans=#{trans}
	</delete>
	
<!-- 지역관련 -->
	<select id="selectCat" resultType="com.gl.master.model.CatVo">
		SELECT * FROM CAT
	</select>
	<select id="selectLoc" resultType="com.gl.master.model.LocVo"
		parameterType="String">
		SELECT * FROM LOC INNER JOIN CAT ON LOC.CATCODE =
		CAT.CODE WHERE CAT.CODE=#{value}
	</select>
	
</mapper>
