<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/orderMapper.xml" />
		<mapper resource="mapper/customerMapper.xml" />
		<mapper resource="mapper/couponMapper.xml" />
		<mapper resource="mapper/noticeMapper.xml" />
		<mapper resource="mapper/vocMapper.xml" />
		<mapper resource="mapper/customerMapper.xml" />
		<mapper resource="mapper/eventMapper.xml" />
		<mapper resource="mapper/schedulerMapper.xml" />
		<mapper resource="mapper/loginMapper.xml" />
		<mapper resource="mapper/slideMapper.xml" />
	</mappers>
</configuration>


<!-- mybatis-config.xml -->